@import "./header";
@import "./gifGrid";




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Product Sans";
}

body{
    padding: 0 4rem
}

button {
    border: none;
    background-color: rgb(209, 209, 209);
    padding: 2px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
   


@import './mobileMediaQuery';