@import "./header";
@import "./gifGrid";


@import './mobileMediaQuery';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Product Sans";
}

.app{
    background-color: red;
    min-height: 100vh;
    width: fit-content;
    block-size: fit-content;
}




button {
    border: none;
    background-color: rgb(209, 209, 209);
    padding: 2px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}